/*For Mobiles/Basis CSS*/
body {
    margin: 0;
}

/*Container for all the content Sets up the page*/
.container {
    width: 100vw;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4vh 5vh 84vh 7vh;
    grid-template-areas: "hr hr hr hr"
    "sb sb sb sb"
    "con con con con"
    "ft ft ft ft"; 
}


/*Header CSS*/
.header {
    grid-area: hr;
}
/* Header Navigation CSS */
.navbar {
    padding-right: 2px;
    padding-left: 2px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1px;
    background-color: white;
}
/*Logo and Navigation Links*/
.logo {
    margin: 0;
    color: #FF7F50;
}
.navlinks {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    padding-left: 5px ;
    color: grey;
}
.navl {
    font-size: 11px;
}
.navl a:hover {
    color: coral;
}
/*Search Bar*/
.sinput {
    border: 1px #d3d3d3 solid;
    border-radius: 4px;
    padding: 4px;
}
/*Profile*/
.pfbtn {
    border: 1px tomato solid;
    background-image: url('images/cropped.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 3vh;
    width: 3vh;
}
.pfdrop-content {
    display: none;
}

/*Sidebar CSS*/
.sidebar {
    grid-area: sb;
    background-color: gainsboro;
    box-shadow: 0 4px 2px -2px #c0c0c0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
/*Sidebar Buttons*/
.sblbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Do not show in Mobile Width They are moved to the Footer*/
.sblbtn p {
    display: none;
}
.sbshare {
    display: none;
}
/*Subscribe and Entries Button CSS*/
.sbsub {
    padding: 6.5px;
    margin-right: 6px;
    background-color: darkorange;
    border: 2px darkorange solid;
    color: white;
    border-radius: 10px;
}
.sbsub:hover {
    background-color: tomato;
    border: 2px tomato solid;
}
.sbentries {
    padding: 6.5px;
    margin-right: 6px;
    background-color: darkorange;
    border: 2px darkorange solid;
    color: white;
    border-radius: 10px;
}
.sbentries:hover {
    background-color: tomato;
    border: 2px tomato solid;
}
/* Archive Dropdown Menu*/
.arch {
    display: block;
}
.archbtn { 
    background-color: transparent;
    border: none;
    color: dimgrey;
}
.arclist {
    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.arclist a {
    padding: 12px 16px;
    font-size: 12px;
    color: dimgrey;
    text-decoration: none;
    display: block;
}
.arclist a:hover {
    background-color: dimgrey;
    color: white;
}

.arch:hover .arclist {
    display: block;
}
.sb-about-info {
    display: none;
}


/*Content CSS*/
.content {
    grid-area: con;
    margin: 0 2% 0 2%;
    overflow: scroll;
}

/*Blog Post Info*/
.con-head {
    border: 1px gainsboro solid;
    border-radius: 5px;
    padding: 2%;
    margin-top: 2%;
}
/*Post Title, User Info*/
.ctitle {
    padding: 0 1% 1% 2%;
    border-radius: 5px;
}
.post-title h1 {
    color: darkorange;
    margin-bottom: 0;
}
.post-user-info {
    color: grey;
    font-style: italic;
}
.post-user-info p {
    margin-top: 1%;
    margin-bottom: 1%;
}
.post-user-info p a {
    color: orange;
    font-weight: bold;
    text-decoration: none;
    
}
.ppfp {
    color: transparent !important;
    background-image: url('images/cat-cropped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3px;
    padding: 1% 0.5%;
    /* padding: 0.5% 0; */
    border-radius: 50%;
}
.post-user-info h6 {
    margin: 0;
    color: rgb(160, 160, 160);
    font-style: normal;
}
/*About Author*/
.con-about-info {
    background-color: darkorange;
    margin-top: 2%;
    padding: 1%;
    border-radius: 7px;
}
.con-about-info h4 {
    color: white;
    margin: 0 0 1% 0;
}
.con-about-info p {
    color: antiquewhite;
    margin: 0 0 1% 0;
}

/*Blog Post Body Content*/
.con-body {
    color: dimgrey;
}
.con-body h2 {
    color: tomato;
    border-bottom: 1px darkorange dashed;
}
.con-body h3 {
    color: coral;
    border-bottom: 1px orange dashed;
}
.cb-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cb-img {
    border-radius: 5px;
    width: 95%;
    height: 95%;
}


/*Footer CSS*/
.footer {
    grid-area: ft;
    background-color: coral;
    display: grid;
    align-content: center;
    justify-content: center;
}
/*Connect on Social Media*/
.ftbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 3%;
    font-size: 13px;
    color: white;
}
/*Only show in Tablet and Desktop Site Social Media Links*/
.ftTitle {
    display: none;
}
.socials {
    display: none;
}
.ftshare {
    margin: auto 4px;
    padding: 4px; 
    background-color: gold;
    border: 1px gold solid;
    color: dimgrey;
    border-radius: 10px;
}
.ftshare:hover {
    background-color: dimgrey;
    color: gold;
}



@media (min-width: 600px) {
    /*For Tablets*/
    .container {
        display: grid;
        grid-template-columns: 160px 1fr;
        grid-template-rows: 5vh 90vh 5vh;
        grid-template-areas: "hr hr hr hr hr"
        "sb con con con con"
        "ft ft ft ft ft"; 
    }


    /*Header CSS*/
    .header {
        grid-area: hr;
    }
     /*Navbar Changes*/
     .navbar {
        box-shadow: 0 4px 2px -2px #dcdcdc;
     }
     /*Navbar Navigation Links*/
     .navlinks {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .navl {
        display: flex;
        font-size: 15px;
        justify-content: space-between;
        width: 60%;
        align-items: center;
        margin-left: 2%;
    }
    /*Search Bar*/
    .fsearch {
        width: 40%;
    }
    .sinput {
        width: 90%;
    }
    /*Profile*/
    .pfdrop {
        width: 5%;
    }


    /*Sidebar CSS Changes*/
    .sidebar {
        grid-area: sb;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 5% 35%;
        grid-template-areas: "about"
        "social"
        "archive"
        "archivelist"
        ;
        margin: 5% 2% 5% 4%;
        background-color: whitesmoke; 
        border-radius: 5px;
        padding: 0px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    /*Moved the About Author to the Sidebar section in Tablet/Desktop view*/
    .sb-about-info {
        grid-area: about;
        display: block;
        height: 100%;
        background-color: darkorange;
        border-radius: 5px 5px 0px 0px;
        width: 100%;
    }
    .sb-about-info h4 {
        color: white;
        padding: 5%;
        margin: 0 0 1% 0;
    }
    .sb-about-info p {
        color: antiquewhite;
        padding: 1% 5%;
        font-size: 12px;
        margin: 0 0 1% 0;
        /* padding: 1%; */
    }
    /*Social Media, Subscribe and Explore Buttons*/
    .sblbtn {
        grid-area: social;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }
    .sbsub {
        margin: 5%;
        width: 90%;
    }
    .sbentries {
        margin: 0 5% 6% 5%;
        width: 90%;
    }
    .sblbtn p {
        display: block;
        font-size: 13px;
        color: dimgrey;
        margin: 15% 0 6% 0;
        width: 87%;
        padding-bottom: 3%;  
    }
    /*Vissable now on Sidebar instead of Footer*/
    .sbshare {
        display: block;
        margin: 2%;
        padding: 4px; 
        background-color: orange;
        border: 1px orange solid;
        color: white;
        border-radius: 10px;
        width: 90%;
    }
    .sbshare:hover {
        background-color: tomato;
        border: 2px tomato solid;
    }
    /*Changes to Archive View no longer a drop down*/
    .arch {
        grid-area: archive;
        padding: 6% 0;
        background-color: gainsboro;
    }
    .arclist {
        grid-area: archivelist;
        margin-top: 1%;
        display: block;
        min-width: 151px;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    .arclist a {
        padding: 11px;
        font-size: 12px;
        color: dimgrey;
        text-decoration: none;
    }


    /*Content CSS Changes*/
    .content {
        grid-area: con;
    }
    /*Blog Content Header*/
    .con-head {
        border: 0px black solid;
        border-radius: 0;
        padding: 0;
    }
    /*Blog Post Title and User Info*/
    .ctitle {
        padding: 0 0 2% 0;
        border-bottom: 2px darkorange solid;
        border-radius: 0;
    }
    .post-title h1 {
        margin: 0 0 2% 0;
    }
    .post-user-info {
        padding-left: 3%;
    }
    /*Moved them to the side bar for Tablets/Desktops*/
    .con-about-info {
        display: none;
    }
    .post-user-info h6 {
        display: none;
    }
    
    /*Footer CSS Changes*/
    .footer {
        grid-area: ft;
        background-color: coral;
        grid-area: ft;
        font-size: 15px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /*Microblog Social Media Connection links*/
    .ftbtn {
        margin-bottom: auto;
    }
    .ftTitle {
        display: block;
        margin: 0;
    }
    .socials {
        display: block;
    }
    .socials a {
        font-size: 11px;
        text-decoration: none;
        color: white;
    }
    .socials a:hover {
        color: gold;
    }
    /*Moved to Sidebar in Tablets/Desktop*/
    .ftConnect {
        display: none;
    }
    .ftshare {
       display: none;
    }

}

@media (min-width: 1000px) {
    /*For Desktop*/
    .container {
        display: grid;
        grid-template-columns: 260px 1fr;
        grid-template-rows: 5vh 90vh 5vh;
        grid-template-areas: "hr hr hr hr hr hr hr"
        "sb con con con con con"
        "ft ft ft ft ft ft ft";
    }


    /*Navbar change*/
    .navlinks {
        display: flex;
        width: 70%;
    }
    .navl {
        display: flex;
        justify-content: space-between;
        width: 25%;
        margin-left: 1%;
        align-items: center;
    }
    .fsearch {
        width: 25%;
    }
    .sinput {
        width: 90%;
    }
    .pfdrop {
        width: 5%;
    }


    /*Sidbar Minor fixes*/
    .sblbtn p {
        margin: 0;
    }
    .arclist {
        min-width: 245px;
    }


    /*Content Minor Fix*/
    .ppfp {
        padding: 0.75% 0.5%;
    }
}